.container{
    position:static;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    background-image: url(./backgrounds/landing.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin: auto ;
    
    
}
#logo{
    padding: auto;
    justify-content: center;
    text-align: center;
    color: white;
    margin: auto;
    padding-top: 15px;
    
}
#list{
  width: 280px;
  height: 100px;
  margin: auto;
  text-align: center;
  background-color: whitesmoke;
  display: block;
  justify-items: normal;
  position: relative;
  
}
#list>p{
    text-align: center;
    margin: auto;
    padding-top: 30px;
    color: black;
    font-family: sans-serif;
    font-size: 24px;
}
#PT{
    width: 280px;
    height: 100px;
  margin: auto;
  text-align: center;
  background-color: #F15A29;
  display: block;
  position: absolute;
  

}
#PT>p{
    text-align: center;
    margin: auto;
    padding-top: 30px;
    color: white;
    font-family: sans-serif;
    font-size: 24px;
    

}
#HappyHour{
    
    
    background-color: whitesmoke;
    width: 30%;
    height: 10%;
}
strong{
    font-weight: 700px;

}
.menu{
    display: flex;
    flex-direction: row;
    image-resolution: 100%;
    margin: auto;
   
    height: 300px;
    }
   
/* #breakfast{
    background-image: url(./foodtop/breakfast.jpg);
    height: 200px;
    width: 700px;
    margin: auto;
    text-align: center;
    background-repeat: no-repeat;
    background-size:auto;}
     */

/* #lunch{
    background-image: url(./foodtop/dinner2.jpg);
    background-size:auto;
    background-repeat: no-repeat;
    padding: 0;
    height: 200px;
    width: 700px;
    margin: auto;
    text-align: center;
}*/

/* #dinner{
    background-image: url(./foodtop/dinner.jpg);
    height: 200px;
    width: 700px;
    margin: auto;
    text-align: center;
    background-repeat: no-repeat;
    background-size:auto; }*/

.fastfoods{
    
    display: flex;
    flex-direction: column;
    position: inherit;
    width: 50%;
    float: left;
    margin: auto;
    box-sizing: content-box;
    border:3px solid white ;
    box-shadow: 2px 2px 5px grey;
    
}
#fastfoodtxt{
    text-align: left;
   width: 70%;
   margin: auto;
   

}
#fastfoodphoto{
    text-align: center;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    
}

